FINAN_API_PORT=3101
FINAN_PUBLIC_URL=https://finan.retiradas.tech
FINAN_DATABASE_URL=
FINAN_SESSION_SECRET=
FINAN_MFA_EMAIL_ENABLED=true
FINAN_EMAIL_FROM=naoresponda@retiradas.tech
FINAN_SMTP_HOST=
FINAN_SMTP_PORT=587
FINAN_SMTP_SECURE=false
FINAN_SMTP_USER=
FINAN_SMTP_PASS=
