SERVER_URL=http://127.0.0.1:8080
AUTHENTICATION_API_KEY=troque-por-uma-chave-longa
POSTGRES_PASSWORD=troque-por-uma-senha-longa

DATABASE_PROVIDER=postgresql
DATABASE_CONNECTION_URI=postgresql://evolution:troque-por-uma-senha-longa@evolution-postgres:5432/evolution

CACHE_REDIS_ENABLED=true
CACHE_REDIS_URI=redis://evolution-redis:6379/6
CACHE_LOCAL_ENABLED=false

LOG_LEVEL=ERROR,WARN,INFO
DEL_INSTANCE=false
